.elements {
    margin-top: 80px;
    padding: 0 70px 10px;
}

.elements_margin{
    padding-bottom: 107px;
}

.elements__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    grid-gap: 37px 24px;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
}

.elements__message{
    max-width: 380px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #EE3465;
    margin: 0 auto;
}

.elements__more {
    width: 100%;
    border-radius: 6px;
    background-color: #2F2F2F;
    border: none;
    padding: 11px 0 9px;
    text-align: center;
    margin: 50px 0 80px;

    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.elements__more:hover{
    cursor: pointer;
    opacity: 0.8;
}

.elements__more_hidden{
    display: none;
}

@media screen and (max-width: 768px){
    .elements {
        padding: 0 30px 10px;
    }
    .elements__list {
        grid-template-columns: repeat(auto-fit, 339px);
        grid-gap: 28px 30px;
    }
}

@media screen and (max-width: 399px){
    .elements {
        margin-top: 50px;
        padding: 0 10px 26px;
    }
    .elements__list {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
        grid-gap: 0;
    }
}