.elements {
    margin-top: 80px;
    padding: 0 70px 10px;
}

.elements_margin{
    padding-bottom: 107px;
}

.elements__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    grid-gap: 37px 24px;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .elements {
        padding: 0 30px 10px;
    }
    .elements__list {
        grid-template-columns: repeat(auto-fit, 339px);
        grid-gap: 28px 30px;
    }
}

@media screen and (max-width: 399px){
    .elements {
        margin-top: 50px;
        padding: 0 10px 26px;
    }
    .elements__list {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
        grid-gap: 0;
    }
}