.page {
  box-sizing: border-box;
  background-color: #202020;
  margin: 0 auto;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}