.search {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #424242;
    margin: 60px 70px 10px;
}

.search__input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    max-height: 46px;
    height: 100%;
    border-radius: 40px;
    background-color: #2F2F2F;
    border: none;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    padding: 14px 22px;
    margin-bottom: 41px;
}

.search__btn {
    width: 34px;
    height: 34px;
    border: none;
    background-image: url('../../images/find.svg');
    background-size: cover;
    background-color: transparent;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.search__btn:disabled{
    opacity: 0.8;
    cursor: default;
}

.search__btn:hover {
    opacity: 0.8;
}

.search__field-error_active{
    display: inline-block;
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 41px;
}

.search__input_type_error{
    color: #EE3465;
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .search {
        margin: 60px calc((100% - 1140px) / 2);
    }

    .search__btn {
        right: calc((100% - 1132px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .search {
        margin: 76px 50px 10px;
    }
}

@media screen and (max-width: 320px) {
    .search {
        margin: 80px 14px 10px;
    }

    .search__input {
        font-size: 11px;
    }
}