.search {
    padding: 0 70px;
    margin-top: 60px;
    position: relative;
    text-align:center;
    border-bottom: 1px solid #424242;
    margin-bottom: 10px;
}

.search__input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    max-height: 46px;
    height: 100%;
    border-radius: 40px;
    background-color: #2F2F2F;
    border: none;
    color: #8B8B8B;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    padding: 14px 22px;
    margin-bottom: 41px;
}

.search__btn {
    width: 34px;
    height: 34px;
    border: none;
    background-image: url('../../images/find.svg');
    background-size: cover;
    background-color: transparent;
    position: absolute;
    top: 6px;
    right: 76px;
}

.search__btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (min-width: 1280px) {
    .search {
      padding: 0 calc((100% - 1140px) / 2);
    }

    .search__btn{
        right: calc((100% - 1132px) / 2);
    }
  }

@media screen and (max-width: 768px){
    .search {
        padding: 0 50px;
        margin-top: 76px;
    }

    .search__btn{
        right: 56px;
    }
}

@media screen and (max-width: 320px){
    .search {
        padding: 0 14px;
        margin-top: 80px;
    }

    .search__input {
        font-size: 11px;
    }

    .search__btn{
        right: 20px;
    }
}