.header {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 18px 70px;
}

.header_blue {
  padding: 18px 70px;
  background-color: #073042;
}

.header__link {
  display: inline-block;
  height: 38px;
  width: 38px;
  vertical-align: middle;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 18px calc((100% - 1140px) / 2);
  }

  .header_blue {
    padding: 18px calc((100% - 1140px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 708px;
    justify-content: space-between;
    padding: 16px 30px;
  }

  .header_blue {
    padding: 16px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 292px;
    padding: 16px 14px;
  }

  .header_blue {
    padding: 16px 14px;
  }
}