.footer {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-top: 79px;
    background-color: #202020;
}

.footer__title {
    text-align: center;
    color: #8B8B8B;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
    margin: 0;
    margin-bottom: 20px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer__year {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.footer__link-item {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-right: 20px;
}

.footer__link-item:last-child {
    margin-right: 0;
}


@media screen and (max-width: 768px) {
    .footer {
        max-width: 708px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 300px;
    }

    .footer__title {
        font-size: 12px;
    }

    .footer__box {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer__link {
        display: flex;
        flex-direction: column;
    }

    .footer__link-item {
        margin: 0;
        margin-bottom: 12px;
    }

    .footer__link-item:last-of-type {
        margin-bottom: 30px;
    }

    .footer__year {
        color: #8B8B8B;
        font-size: 12px;
    }
}