.aboutMe {
    padding: 0 70px;
}

.aboutMe__title {
    margin: 0;
    padding-top: 114px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 64px;
}

.aboutMe__col {
    display: flex;
    justify-content: space-between;
}

.aboutMe__colLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutMe__name {
    margin: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.aboutMe__subtitle {
    margin: 0;
    margin-top: 18px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.aboutMe__text {
    max-width: 600px;
    width: 100%;
    margin: 26px 0 99px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.aboutMe__link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: #FFF;
}

.aboutMe__colRight {
    max-width: 270px;
    width: 100%;
    padding-left: 10px;
}

.aboutMe__photo {
    border-radius: 10px;
    max-width: 270px;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .aboutMe {
        padding: 0 calc((100% - 1140px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .aboutMe {
        padding: 0 50px;
    }

    .aboutMe__name {
        font-size: 40px;
        line-height: 40px;
    }

    .aboutMe__title {
        padding-top: 90px;
    }

    .aboutMe__subtitle {
        margin: 0;
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .aboutMe__text {
        max-width: 364px;
        width: 100%;
        margin: 20px 0 87px 0;
        font-size: 12px;
        line-height: 18px;
    }

    .aboutMe__colRight {
        max-width: 255px;
        height: 307px;
    }

    .aboutMe__photo {
        max-width: 255px;
    }

    @media screen and (max-width: 630px) {
        .aboutMe__col {
            flex-direction: column-reverse;
        }

        .aboutMe__colLeft {
            margin-top: 84px;
        }
    }

    @media screen and (max-width: 320px) {
        .aboutMe {
            padding: 0 14px;
        }

        .aboutMe__title {
            padding-top: 70px;
            padding-bottom: 28px;
            font-size: 18px;
            line-height: normal;
            letter-spacing: -0.72px;
        }

        .aboutMe__name {
            font-size: 30px;
            line-height: normal;
        }
    
        .aboutMe__subtitle {
            margin-top: 20px;
            font-size: 11px;
            line-height: 16px;
        }
    
        .aboutMe__text {
            margin: 20px 0 40px 0;
            font-size: 11px;
            font-style: normal;
            line-height: 16px;
        }

        .aboutMe__photo {
            max-width: 292px;
        }
    
        .aboutMe__colRight {
            max-width: 292px;
            padding: 0;
        }
    }
}